* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #8462e0;
}

.background {
  background: linear-gradient(to bottom right, #ADD8E6, #007bff, #DA70D6); /* Light blue to blue to light violet */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.container {
  padding: 10vw 5vw; /*Use viewport units for padding */
  text-align: center;
  max-width: 700px; /* Use max-width instead of fixed width */
  width: 50%; /*Use percentage width for fluid layout*/
  /* background-color: rgba(255, 218, 185, 0.8); */
  background-color: rgba(255, 255, 224, 0.5);
  margin: 5px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /*Box shadow for a bit of depth */
  border-radius: 15px;
}

h1 {
  margin: 15px 0;
  line-height: 1;
  font-size: 2.5rem; /* Increase font size for better readability */
}

p {
  font-weight: bold;
  margin-bottom: 10px;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
  max-width: 300px;
}

button {
  background-color: #007bff;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  input,
  button {
    padding: 8px;
  }
}
